.Head{
    width: 100%;
    min-height: 100px;
    background-color: #e6e6e6;
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    font-weight: bold;
}

.Education{
    width: 100%;
    min-height: 100px;
}


.student_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}
.sda_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.downloads{
    display: flex;
    gap: 10px;
align-items: center;
}

.Belinda{
    width: 400px;
    margin: 20px;
}
.BIGeducation{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.Belinda2{
    width: 400px;
}

.HexGrid{
    background-color: #ac1111;
}